<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Ajouter une Ligue</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
	</head>

	<body>

		<h1 class="page-header">Ajouter une ligue</h1>
		<br/>
		<br/>

		<form class="form-horizontal" name="addleagueForm" ng-controller="AddLeagueController as addleague" method="post">

			<div class="form-group has-feedback" ng-class="{'has-error': addleagueForm.name.$dirty && addleagueForm.name.$invalid, 'has-success': addleagueForm.name.$valid}">
				<label class="col-md-2 control-label" for="name">Nom de la ligue</label>
				<div class="col-md-2">
					<input id="name" type="text" class="form-control" name="name" ng-model="addleagueName" required/>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addleagueForm.name.$valid"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addleagueForm.name.$dirty && addleagueForm.name.$invalid"></span>
					<span class="text-danger" ng-show="addleagueForm.name.$dirty && addleagueForm.name.$error.required">*Ce champ est obligatoire</span>
				</div>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error': addleagueForm.president.$dirty && addleagueForm.president.$invalid, 'has-success': addleagueForm.president.$valid}">
				<label class="col-md-2 control-label" for="president">Président</label>
				<div class="col-md-2">
					<input id="president" type="text" class="form-control" name="president" ng-model="addleaguePresident" required/>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addleagueForm.president.$valid"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addleagueForm.president.$dirty && addleagueForm.president.$invalid"></span>
					<span class="text-danger" ng-show="addleagueForm.president.$dirty && addleagueForm.president.$error.required">*Ce champ est obligatoire</span>
				</div>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error': addleagueForm.mail.$dirty && addleagueForm.mail.$invalid, 'has-success': addleagueForm.mail.$valid}">
				<label class="col-md-2 control-label" for="mail">Email</label>
				<div class="col-md-2">
					<input id="mail" type="email" class="form-control" name="mail" ng-model="addleagueMail" required/>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addleagueForm.mail.$valid"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addleagueForm.mail.$dirty && addleagueForm.mail.$invalid"></span>
					<span class="text-danger" ng-show="addleagueForm.mail.$dirty && addleagueForm.mail.$error.required">*Ce champ est obligatoire</span>
					<span class="text-danger" ng-show="addleagueForm.mail.$dirty && addleagueForm.mail.$error.email">*L'email n'est pas valide</span>
				</div>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error': addleagueForm.phone.$dirty && addleagueForm.phone.$invalid, 'has-success': addleagueForm.phone.$valid}">
				<label class="col-md-2 control-label" for="phone">Téléphone</label>
				<div class="col-md-2">
					<input id="phone" type="text" class="form-control" name="phone" ng-model="addleaguePhone" required/>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addleagueForm.phone.$valid"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addleagueForm.phone.$dirty && addleagueForm.phone.$invalid"></span>
					<span class="text-danger" ng-show="addleagueForm.phone.$dirty && addleagueForm.phone.$error.required">*Ce champ est obligatoire</span>
				</div>
			</div>
			
			<div class="form-group has-feedback">
				<label class="col-md-2 control-label" for="phone">Logo</label>
				<div class="col-md-2">
					<input id="logo" type="file" name="logo" ng-model="addleagueLogo" required/>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="description">Description</label>
				<div class="col-md-4">
					<textarea id="description" class="form-control" name="description" ng-model="addleagueDescription" rows="8" required></textarea>
				</div>
			</div>

		</form>

	</body>
</html>
