<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ajouter un évènement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1 class="page-header">Ajouter un évènement</h1>
<br/>
<br/>


<form class="form-horizontal" name="addeventForm" ng-controller="AddEventController as addevent" method="post">

    <div class="form-group has-feedback" ng-class="{'has-error': addeventForm.name.$dirty && addeventForm.name.$invalid, 'has-success': addeventForm.name.$valid}">
        <label class="col-md-2 control-label" for="name">Titre de l'évènement</label>
        <div class="col-md-2">
            <input id="name" type="text" class="form-control" name="name" ng-model="addeventName" required/>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addeventForm.name.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addeventForm.name.$dirty && addeventForm.name.$invalid"></span>
            <span class="text-danger" ng-show="addeventForm.name.$dirty && addeventForm.name.$error.required">*Ce champ est obligatoire</span>
        </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error': addeventForm.league.$dirty && addeventForm.league.$invalid, 'has-success': addeventForm.league.$valid}">
        <label class="col-md-2 control-label" for="league">Ligue</label>
        <div class="col-md-2">
            <input id="league" type="text" class="form-control" name="league" ng-model="addeventLeague" required/>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addeventForm.league.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addeventForm.league.$dirty && addeventForm.league.$invalid"></span>
            <span class="text-danger" ng-show="addeventForm.league.$dirty && addeventForm.league.$error.required">*Ce champ est obligatoire</span>
        </div>
    </div>

    <!--<div class="form-group has-feedback" ng-class="{'has-error': addeventForm.logo.$dirty && addeventForm.logo.$invalid, 'has-success': addeventForm.logo.$valid}">
        <label class="col-md-2 control-label" for="logo">Image</label>
        <div class="col-md-2">
            <input id="logo" type="file" name="logo" ng-model="addeventLogo" required/>
        </div>
    </div>-->

    <div class="form-group has-feedback" ng-class="{'has-error': addeventForm.date.$dirty && addeventForm.date.$invalid, 'has-success': addeventForm.date.$valid}">
        <label class="col-md-2 control-label" for="date">Date</label>
        <div class="col-md-2">
            <input id="date" type="date" class="form-control" name="date" ng-model="addeventDate" required/>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="addeventForm.date.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="addeventForm.date.$dirty && addeventForm.date.$invalid"></span>
            <span class="text-danger" ng-show="addeventForm.date.$dirty && addeventForm.date.$error.required">*Ce champ est obligatoire</span>
            <span class="text-danger" ng-show="addeventForm.date.$dirty && addeventForm.date.$error.date">*Le format de la date n'est pas valide</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="description">Description de l'évènement</label>
        <div class="col-md-4">
            <textarea id="description" class="form-control" name="description" ng-model="addeventDescription" rows="8" required></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <button type="submit" class="btn btn-default" ng-click="addeventForm.$valid && ConfirmAddEvent()">
                Ajouter l'évènement
            </button>
        </div>
    </div>

</form>-->

</body>
</html>
