<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>League</title>
    </head>

    <body ng-controller="EventController as event">

        <div id="leaguewrapper">
            <span id="leaguename"><h1>{{eventname}}</h1></span>

            <div id="leaguedesc">
                <p>{{eventdesc}}</p>
            </div>

            <table class="table table-responsive table-hover" id="leagueinfos">
                <tr>
                    <th>Ligue:</th>
                    <td><a href="#/league/{{league.id}}">{{leaguename}}</a></td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{eventdate}}</td>
                </tr>
            </table>
        </div>

    </body>
</html>
