<!DOCTYPE html>
<html>
	
	
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>


<body class="container">
	
	<h1>Inscription</h1>
	<br/>
	<br/>

		
		<form class="form-horizontal" name="registerForm" ng-controller="InscriptionController as inscriptionCtrl" method="post">
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="pseudo">Nom d'utilisateur</label>
				<div class="col-md-3">
					<input id="pseudo" type="text" class="form-control" name="pseudo" ng-model="inscriptionCtrl.pseudo" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="nom">Nom</label>
				<div class="col-md-3">
					<input id="nom" type="text" class="form-control" name="nom" ng-model="inscriptionCtrl.nom" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="prenom">Prénom</label>
				<div class="col-md-3">
					<input id="prenom" type="text" class="form-control" name="prenom" ng-model="inscriptionCtrl.prenom" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="email">Email</label>
				<div class="col-md-3">
					<input id="email" type="email" class="form-control" name="email" ng-model="inscriptionCtrl.email" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="password">Mot de passe</label>
				<div class="col-md-3">
					<input id="password" type="password" class="form-control" name="password" ng-model="inscriptionCtrl.password" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="passwordConfirm">Confirmer le mot de passe</label>
				<div class="col-md-3">
					<input id="passwordConfirm" type="password" class="form-control" name="passwordConfirm" ng-model="inscriptionCtrl.passwordConfirm" required/>
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-md-1 control-label" for="date">Date de naissance</label>
				<div class="col-md-3">
					<input id="date" type="date" class="form-control" name="date" ng-model="inscriptionCtrl.date" required/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-1 control-label" for="date">Téléphone</label>
				<div class="col-md-3">
					<input id="telephone" type="text" class="form-control" name="telephone" ng-model="inscriptionCtrl.telephone" required/>
				</div>
			</div>
	
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">	
					<input type="submit" class="btn btn-default" ng-click="registerForm.$valid && ConfirmRegister()" value="S'enregistrer"/>
				</div>
			</div>
</body>
			
</html>