<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>League</title>
	</head>

	<body ng-controller="LeagueController as league">

		<div id="leaguewrapper">
			<img src="http://placehold.it/300x250" />
			<span id="leaguename"><h1>{{leaguename}}</h1></span>

			<div id="leaguedesc">
				<p>
					{{leaguedesc}}
				</p>
			</div>

			<table class="table table-responsive table-hover" id="leagueinfos">
				<tr>
					<th>Président de la ligue:</th>
					<td>{{leagueprez}}</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>{{leaguemail}}</td>
				</tr>
				<tr>
					<th>Numéro de téléphone:</th>
					<td>{{leaguephonenumber}}</td>
				</tr>
			</table>
		</div>

		<div class="clearfix"></div>
		<br/>
		<br/>

		<div class="container">
			<div class="carousel">
				<div class="item">
					<img src="css/images/test1.jpg" width="100%" height="500"/>
					<div class="carousel-caption">
						<h1>BOOTSTRAP</h1>
						<p class="lead">
							Est quand même hyper utile dans certains cas
						</p>
						<a href="#" class="btn btn-primary">Concombre</a>
					</div>
				</div>
				<div class="item">
					<img src="css/images/test2.jpg" width="100%" height="500"/>
				</div>
				<div class="item">
					<img src="css/images/test3.jpg" width="100%" height="500"/>
				</div>
				<div class="item">
					<img src="css/images/test2.jpg" width="100%" height="500"/>
				</div>
			</div>
		</div>
		<script src="js/carousel.js"></script>
	</body>
</html>