<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/sidebar.css" type="text/css" rel="stylesheet"/>
    </head>

    <body ngcontroller="ListEventsController">
        <h1 class="page-header">Evenements</h1>
        <br/>
        <br/>

        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Rechercher Evenement">


                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>


        <div class="container" ng-repeat="event in eventsArray">
            <a href="#/event/{{event.id}}"> <h2>{{event.titre}}</h2> </a>
            <i><h4>le {{event.date}}</h4></i>
            <p>{{event.description}}</p>
            <br/>
            <div style="border-bottom: 1px solid #eee;"></div>
            <br/>
        </div>



    </body>
</html>
